{% extends "base.html" %}

{% block content %}

<h1>
    {% if existing_selection %}
        Edit Pick
    {% else %}
        Make Pick
    {% endif %}
</h1>

<p>
    <strong>Competition:</strong>
    {{ competition.name }}
</p>

<p>
    <strong>Gameweek:</strong>
    Week {{ competition_gameweek.competition_week_number }}

    <small>
        League gameweek {{ competition_gameweek.gameweek.number }}
    </small>
</p>

<p>
    <strong>Deadline:</strong>
    {{ competition_gameweek.deadline|date:"D d M Y H:i" }}
</p>

{% if existing_selection %}
    <p>
        Current pick:
        <strong>{{ existing_selection.team.name }}</strong>

        {% if existing_selection.is_joker %}
            🃏 Joker played
        {% endif %}
    </p>
{% endif %}

<hr>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        {% if existing_selection %}
            Update Pick
        {% else %}
            Save Pick
        {% endif %}
    </button>
</form>

<p>
    <a href="{% url 'competition_detail' competition.id %}">
        Back to Competition
    </a>
</p>

{% endblock %}