{% extends "base.html" %}

{% block content %}

<h1>Profile</h1>

<p>
    <a href="{% url 'edit_profile' %}"
       class="text-sm font-medium text-slate-700 hover:text-slate-900">
        Edit Profile
    </a>
</p>

<p>
    <a href="{% url 'password_change' %}"
       class="text-sm font-medium text-slate-700 hover:text-slate-900">
        Change Password
    </a>
</p>

<p>
    Username: {{ user.username }}
</p>

<p>
    Screen Name: {{ profile.screen_name }}
</p>

<p>
    Favourite Team:
    {{ profile.favourite_team|default:"Not set" }}
</p>

{% endblock %}